.alignment{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

}

.phone-screen{
    width: 21.5em;
    height: 45em;
    border-radius: 1em;
    border-style: solid;
    border-color: black;
    border-width:.1em;
    background-color: #ff7a7a;
    position: relative;
    z-index: 0;
}