<div class="alignment">

    <div class = "alignment" id = "pair1">

    <button class="icon-pair">
        <img src="https://i.postimg.cc/Dy3fSVFb/danny-phantom.jpg" alt="Icon" class="button-image">
    </button>
    <button class="icon-pair" id = "selected">
        <img src="https://i.postimg.cc/fW9TWW4N/avatar.jpg" alt="Icon" class="button-image">
    </button>

    </div>

    <div class = "alignment">

        <button class="icon-pair2">
            <img src="https://i.postimg.cc/wj0947Nh/phineas-and-ferb.jpg" alt="Icon" class="button-image">
        </button>
        <button class="icon-pair2">
            <img src="https://i.postimg.cc/Njggx1Ks/powerpuff-girls.jpg" alt="Icon" class="button-image">
        </button>
    
    </div>

    <div class = "alignment">

        <button class="icon-pair3">
            <img src="https://i.postimg.cc/rpsMBMG7/kim-possible.jpg" alt="Icon" class="button-image">
        </button>
        <button class="icon-pair3">
            <img src="https://i.postimg.cc/wBrgHZ0M/scooby-doo.jpg" alt="Icon" class="button-image">
        </button>
    
    </div>

    <div class = "alignment">

        <button class="icon-pair4">
            <img src="https://i.postimg.cc/85rDC40H/spongebob.jpg" alt="Icon" class="button-image">
        </button>
        <button class="icon-pair4">
            <img src="https://i.postimg.cc/28dkvH89/fairly-odd.jpg" alt="Icon" class="button-image">
        </button>
    
    </div>
    
  </div>
  