.alignment{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    position: absolute;
    width: 100%; /* Ensure it takes full width of the parent */
    height: 100%; /* Ensure it takes full height of the parent */
    top: 0; /* Position from top */
    left: 0; /* Position from left */
}

.icon-pair{
    margin-top: -33em;
    height: 7.5em;
    width: 7.5em;
    border-radius: 1em;
    border-style: solid;
    border-color: #8e2b34;
    border-width:.1em;
    background-color: #8e2b34;
    opacity: .7;
    transition: 0.3s;
    position: absolute;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#selected{
  border-color: #6C8EAD;
  background-color: #6C8EAD;

}

.icon-pair:hover{
    opacity: 1;
    background-color: #A23E48;
}

  /* Define styles for button when it's focused */
  .icon-pair:focus {
    background-color: #6C8EAD;
  }

  .icon-pair2{
    margin-top: -15.5em;
    height: 7.5em;
    width: 7.5em;
    border-radius: 1em;
    border-style: solid;
    border-color: #8e2b34;
    border-width:.1em;
    background-color: #8e2b34;
    opacity: .7;
    transition: 0.3s;
    position: absolute;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.icon-pair2:hover{
    opacity: 1;
    background-color: #A23E48;
}

  /* Define styles for button when it's focused */
  .icon-pair2:focus {
    background-color: #6C8EAD;
  }

  .icon-pair3{
    margin-top: 1.8em;
    height: 7.5em;
    width: 7.5em;
    border-radius: 1em;
    border-style: solid;
    border-color: #8e2b34;
    border-width:.1em;
    background-color: #8e2b34;
    opacity: .7;
    transition: 0.3s;
    position: absolute;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.icon-pair3:hover{
    opacity: 1;
    background-color: #A23E48;
}

  /* Define styles for button when it's focused */
  .icon-pair3:focus {
    background-color: #6C8EAD;
  }

  .icon-pair4{
    margin-top: 19.3em;
    height: 7.5em;
    width: 7.5em;
    border-radius: 1em;
    border-style: solid;
    border-color: #8e2b34;
    border-width:.1em;
    background-color: #8e2b34;
    opacity: .7;
    transition: 0.3s;
    position: absolute;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.icon-pair4:hover{
    opacity: 1;
    background-color: #A23E48;
}

  /* Define styles for button when it's focused */
  .icon-pair4:focus {
    background-color: #6C8EAD;
  }

  .button-image {
    position: absolute;
    pointer-events: none; /* Ensure the image doesn't interfere with button click */
    height: 6em;
    width: 6em;
  }
