<div class="alignment">

    <div class = "alignment">

    <button class="icon-pair">
        <img src="https://via.placeholder.com/150" alt="Icon" class="button-image">
    </button>
    <button class="icon-pair" id = "selected">
        <img src="https://via.placeholder.com/150" alt="Icon" class="button-image">
    </button>

    </div>

    <div class = "alignment">

        <button class="icon-pair2">
            <img src="https://via.placeholder.com/150" alt="Icon" class="button-image">
        </button>
        <button class="icon-pair2">
            <img src="https://via.placeholder.com/150" alt="Icon" class="button-image">
        </button>
    
    </div>

    <div class = "alignment">

        <button class="icon-pair3">
            <img src="https://via.placeholder.com/150" alt="Icon" class="button-image">
        </button>
        <button class="icon-pair3">
            <img src="https://via.placeholder.com/150" alt="Icon" class="button-image">
        </button>
    
    </div>

    <div class = "alignment">

        <button class="icon-pair4">
            <img src="https://via.placeholder.com/150" alt="Icon" class="button-image">
        </button>
        <button class="icon-pair4">
            <img src="https://via.placeholder.com/150" alt="Icon" class="button-image">
        </button>
    
    </div>
    
  </div>
  